

=link_to_function "[ Google o3d-WebGL sample ]", "$('#my-google-o3d-sample').toggle()"
%section#my-google-o3d-sample(style="margin-left:3em")
  WebGL is supported on Firefox, Safari, Chrome, and Opera.
  =link_to "[ See khronos Wiki ]", "http://www.khronos.org/webgl/wiki/Getting_a_WebGL_Implementation"

  =javascript_include_tag 'o3d-webgl/base.js', 'o3djs/base.js', 'zsorting.js'
  #o3d(style="width: 640px; height: 480px")

