!!! XML
!!!
%html
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title#my-title
      pano portfolio
    =stylesheet_link_tag "posts"
    =javascript_include_tag "application"
    =csrf_meta_tag
    =favicon_link_tag 'rails.png'

  %body
    %header
      %p#my-clock= raw "&nbsp;"
      #notice=flash[:notice]

    %div(id="container" width="500px")
      = yield

      %footer
        Powered by open-source rail-3.1, ruby 1.9.2, haml, sass, coffee-script.
        %nav
          =link_to "[ Source fork at GitHub ]", "https://github.com/dkim-95112/rail-3.1-resume"
